/**
 * A11y utilities
 */

/**
 * Visually hidden, visible to screen readers
 */
.text-hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0);
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important
}
