/**
 * Shame CSS
 *
 * Tämän tiedoston on tarkoitus olla tyhjä, käytä vain väliaikaisesti!
 * Väliaikaiselle koodille, hackeille, jne.
 */
 



/** Animated mobile-menu **/

.menu-container {
  @apply /*.z-40*/ .pin-r .mr-2 .mb-2 .self-end;
  cursor: pointer;

  @screen lg {
    @apply .hidden;
  }
}

.menu-container .bar {
  @apply .bg-white .rounded;
  width: 40px;
  height: 6px;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 8px);
  transform: rotate(-45deg) translate(-9px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/** Break element out of container **/

.full-width {
  width: full;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

header {
  transition: all 0.2s ease-in-out;
}

.logo-path, #Path_31{
  transition: fill 0.4s ease-in-out;
}

.scale {
  animation: scale 1s;
  opacity: 0;
  animation-fill-mode:forwards;
   }

.move1 {
  animation: moove 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode:forwards;
   }

.move2 {
  animation: moove2 1s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode:forwards;
  }

#Path_11, #Path_10, #Path_9 {
  -webkit-transfrom-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
   }

@keyframes scale {
  0% {  opacity: 0.2; }
  100% {  opacity: 1;}
  /*100% {   -webkit-transform: rotate(180deg) translate(64.197px, 7.751px);
  transform: rotate(180deg) translate(64.197px, 7.751px);
 }*/}

@keyframes moove {
  0% { transform: translate(-36.162px, -12.027px); opacity: 0.2; }
  100% { transform: translate(-40.162px, -12.027px); opacity: 1; }
}

@keyframes moove2 {
  0% { transform: translate(-14px, -20.211px); opacity: 0.2; }
  100% { transform: translate(-18px, -20.211px); opacity: 1; }
}

.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: -20px;
   z-index: 0;
}

.alignfull .wp-block-group__inner-container:first-child {
   @apply .pt-8;
   @screen md {
     @apply .pt-16;
  }  
}

.alignfull .wp-block-group__inner-container:last-child {
   @apply .pb-8;
   @screen md {
     @apply .pb-16;   
  }  
}
.alignfull.has-bacground .wp-block-group__inner-container:last-child {
   @apply .pb-8;
   @screen md {
     @apply .pb-16;   
  }  
}

.w-full>p, .w-full>h2, .w-full>h3, .w-full>h4, .w-full>h5 .w-full>h6,
.alignfull .wp-block-group__inner-container>p,
.alignfull .wp-block-group__inner-container>h2,
.alignfull .wp-block-group__inner-container>h3,
.alignfull .wp-block-group__inner-container>h4,
.alignfull .wp-block-group__inner-container>h5
.alignfull .wp-block-group__inner-container>h6,
.w-full>ul, .wp-block-group__inner-container>ul,
.alignfull .wp-block-columns .wp-block-column h1,
.alignfull .wp-block-columns .wp-block-column h2,
.alignfull .wp-block-columns .wp-block-column h3,
.alignfull .wp-block-columns .wp-block-column h4,
.alignfull .wp-block-columns .wp-block-column h5,
.alignfull  .wp-block-columns .wp-block-column h6,
.alignfull .wp-block-columns .wp-block-column p {
   @apply .py-2 .px-8;
   @screen md {
    max-width: 750px;
     @apply .mx-auto .px-0;
  }  
}

.wp-block-group__inner-container {
   @screen xxl {
    max-width: 1600px;
     @apply .mx-auto .py-10;
  }  
}

.wp-block-columns {
    max-width:750px;
    @apply .mx-auto;
  }  

.wp-block-columns.alignwide {
    max-width:1600px;
  }  

.wp-block-group  {
   @apply .bg-white;
  
}

.wp-block-group.has-background.alignfull {
   @apply .px-0; 
}

.wp-block-columns, .wp-block-embed  {
   @apply .mb-0;
}

.wp-block-group.has-background.alignfull.panoraama, .wp-block-group.has-background.alignfull.panoraama .wp-block-group__inner-container {
   @apply .p-0;
}

.wp-block-group.has-background.alignfull.panoraama .wp-block-group__inner-container {
   @apply .p-0;
   @screen xxl {
    max-width: 1600px;
     @apply .py-10;
  } 
}

.wp-block-cover {
   height: auto;
}

@media (min-width: 992px)  {
.lg\:py-16 {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}}

@media (max-width: 599px) {
.logot .wp-block-columns   {  
     @apply .flex-row;
  }

.logot .wp-block-column {  
     @apply .w-1/2;
     flex-basis: auto !important;
  }  } 

