/*Define Gutenberg column colors from palette*/

.has-purple-background-color, .wp-block-group.has-purple-background-color {
    @apply .bg-purple;
}
 
.has-purple-color {
     @apply .text-purple;
}

.has-pink-background-color, .wp-block-group.has-pink-background-color {
    @apply .bg-pink;
}
 
.has-pink-color {
     @apply .text-pink;
}

.has-orange-background-color, .wp-block-group.has-orange-background-color {
    @apply .bg-orange;
}

.has-orange-color {
     @apply .text-orange;
}

.has-black-background-color, .wp-block-group.has-black-background-color {
    @apply .bg-black;
}

.has-black-color {
     @apply .text-black;
}

.has-white-background-color, .has-wite-background-color {
    @apply .bg-white;
}

.has-white-color {
     @apply .text-white;
}