/**
 * Links
 */
a {
    @apply .text-blue .no-underline;
    transition: color .2s, background-color .2s, border-color .2s;
}

a:hover {
    @apply .underline;
}

main a {
    @apply .text-blue .no-underline;
}

main a:hover {
    @apply .text-blue-dark .underline;
}
