/**
 * Typography
 */

html,
body {
    @apply .font-PTSans;
}

/**
 * Set basic margin-bottom value, override when needed
 */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
    @apply .mt-0 .mb-6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @apply .font-montserrat;
}

h1,
.h1{
    @apply .text-4xl;
}

h2,
.h2,
.hero__banner h1  {
    @apply .text-3xl;
}

h3,
.h3 {
    @apply .text-2xl;
}

h4,
.h4 {
    @apply .text-xl;
}

h5,
.h5 {
    @apply .text-xl;
}

h6,
.h6 {
    @apply .text-lg .font-bold uppercase;
}

p {
    @apply .text-base .leading-normal .mb-6;
}

li {
    @apply .leading-normal;
}

p.lead {
    @apply .text-lg .leading-tight;
}

@screen md {
    h1,
    .h1, .hero__banner h1  {
        @apply .text-5xl;
    }

    h2,
    .h2 {
        @apply .text-4xl;
    }

    h3,
    .h3 {
        @apply .text-3xl;
    }

    h4,
    .h4 {
        @apply .text-2xl;
    }

    h5,
    .h5 {
        @apply .text-2xl;
    }

    h6,
    .h6 {
        @apply .text-lg;
    }
}

@screen xxl {
   .hero__banner h1  {
        @apply .text-8xl;
    }

    p {
    @apply .text-lg;
}
}