.breadcrumbs {
    @apply .list-reset .text-white .flex .mb-0;
}

.breadcrumbs__item {
    @apply .whitespace-no-wrap .text-grey;

    &:not(:last-child) {
        &::after {
            content: '>';
            @apply .inline-block .mx-2;
        }
    }
}

.breadcrumbs__link {
    @apply .uppercase .text-sm .text-white;

    &:hover {
        @apply .underline;
    }
}

.breadcrumbs__link.active {
    @apply .text-grey .no-underline;
}

@screen lg {
    .breadcrumbs__link {
        @apply .text-base;
    }
}
