/**
 * Buttons
 */
.wp-block-buttons {
    @apply .py-4 .tracking-wide .px-8 .max-w-full;
    @screen lg {
        @apply .mx-auto .py-8 .px-0 .w-auto .max-w-md;
    }
    
}
.wp-block-columns .wp-block-buttons {
        @apply .px-0 .max-w-full;
          @screen lg {
          @apply .max-w-md;
        }
}

.wp-block-button__link,
.btn, .max-menu-btn {
    @apply .inline-block .py-3 .px-6 .m-0 .tracking-wide;
    @apply .text-center .no-underline .uppercase .font-bold .text-sm .truncate;
    @apply .rounded-lg;
    @apply .cursor-pointer .align-middle;
    @apply .break-words;

    font-family: inherit;
    line-height: normal;
    max-width: 100%;
    outline: 0;
    appearance: none;
    user-select: none;
    transition: background-color .2s, color .2s, border-color .2s;
}

.wp-block-button__link:hover,
.btn:hover {
    @apply .no-underline;
}

.wp-block-button__link.has-pink-background-color:hover,
.btn.has-pink-background-color:hover {
    @apply .bg-pink-dark .border-pink-dark;
}

.is-style-outline.has-pink-background-color {
    @apply .border-pink;
}

.is-style-outline.has-pink-background-color:hover {
    @apply .bg-pink .text-white;
}

.wp-block-button__link.has-orange-background-color:hover,
.btn.has-orange-background-color:hover {
    @apply .bg-orange-dark .border-orange-dark;
}

.is-style-outline.has-orange-background-color {
    @apply .border-orange;
}

.is-style-outline.has-orange-background-color:hover {
    @apply .bg-orange .text-white;
}

.wp-block-button__link.has-purple-background-color:hover,
.btn.has-purple-background-color:hover {
    @apply .bg-purple-dark .border-purple-dark;
}

.is-style-outline.has-purple-background-color {
    @apply .border-purple;
}

.is-style-outline.has-purple-background-color:hover {
    @apply .bg-purple .text-white;
}

.is-style-outline .wp-block-button__link,
.btn--ghost {
    @apply .bg-transparent;
}

.btn--disabled,
.btn--disabled:hover {
    @apply .bg-grey .border-grey;
}
