/**
 * Carousels
 */

.carousel {
}

.carousel__frame {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.carousel__slides {
    display: inline-block;
}

.carousel__slide {
    position: relative;
    display: inline-block;
    padding: 0 2rem;
    vertical-align: middle;
}

.carousel__button {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.carousel__button--next {
    right: 0;
}

.carousel__button--prev {
    left: 0;
}

.carousel__button svg,
.carousel__button svg {
    width: 25px;
}
