/**
 * Hero
 */

.hero {
    @apply .bg-cover .bg-center .w-full;
}

.hero--front {
    @apply .h-screen .relative;

    /*@screen md {
        min-height: 100vh;
    }*/
}

.hero--page {
    height: 25rem;
    @apply .min-h-60;
}

.hero__banner {
    @apply .max-w-full .text-center .relative;

    @screen md {
        @apply .min-w-md;
    }
}

.hero__banner * {
    @apply .text-white;
}
