/**
 * Highlights
 */

.highlights {
    @apply .flex .flex-wrap .-mx-2 .w-full;
}

.highlights__item {
    @apply .px-2 .w-full .mb-4;

    @screen lg {
        @apply .w-1/3;
    }
}

.highlights__link {
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
}

.highlights__link:hover {
    @apply .no-underline;
}

.highlights__content {
    @apply .flex .justify-center .items-center;
}

.highlights--page .highlights__content {
    min-height: 20rem;
}

.highlights__content p {
    @apply .text-white .uppercase .font-bold;
}
