/**
 * Language menus
 */



.custom-languages {
    list-style-type:none;
     @apply .z-40;
}

.custom-languages .lang-item{
    @apply .inline-block;
}

.custom-languages .lang-item:last-child{
    @apply .mr-6 .ml-2;
}

.custom-languages .lang-item a {
    @apply .text-white .font-bold;
}

.custom-languages .lang-item .current {
    @apply .underline;
}
