/**
 * Navigation
 */

/**
 * Main Navigation
 */
.main-navigation {
    @apply .fixed .pin-t .pin-b .min-h-screen .max-w-screen .text-left;
    @apply .overflow-x-hidden .overflow-y-auto .z-30 .bg-grey-darkest;
    left: -100vw;
    width: 100vw;
    overscroll-behavior-y: contain;
    transition: all 0.3s;
    will-change: transform;
    backface-visibility: hidden;

    @screen lg {
        @apply .static .min-h-0 .overflow-visible .max-w-full .bg-transparent;
    }
}

.main-navigation.active {
    left: 0;
}

@screen md {
    .main-navigation {
        height: auto;
        width: auto;
    }
}

/**
 * Site Navigation
 */
.site-navigation, .w-full>ul.site-navigation {
    @apply .list-reset .flex .flex-wrap .w-full .max-w-full .min-h-full .h-auto .pin-t .mt-0 .mb-0 .content-center;
     background: rgb(0,0,0);
     background: url("../images/svg-menu-bg.svg") no-repeat left bottom, linear-gradient(180deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.25) 35%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0.45) 100%);

    @screen lg {
        @apply .mt-0 .min-h-0 .w-auto .flex-row .justify-between .max-w-4xl .mx-auto .px-2 pt-0;
        background:none;
    }
}

/*.site-navigation .menu-item-home {
    order: -999;

    @screen lg {
        order: 0;
    }
}*/

/**
 * Menu item
 */
.menu-item {
    @apply py-2 .relative .flex .flex-wrap .items-center .justify-center .w-full;
    transition: all 0.6s ease-in-out;

    @screen lg {
        @apply .static .px-2 .w-auto;
    }
}

.site-navigation .lang-item {
    @apply .w-1/2 .mt-12;
}

.site-navigation .lang-item-fi {
    @apply .justify-end .items-end .text-right .border-r-2 .border-white;
}

.site-navigation .lang-item-en {
    @apply .justify-start .items-start .text-left;
}

@screen lg {
   .site-navigation .lang-item  {
        @apply .hidden;
    }
}

.menu-item a {
    @apply .py-2 .uppercase .font-bold .text-lg .text-white .px-8;
     transition: all 0.4s ease-in-out;
       @screen lg {
        @apply .flex-grow .px-0 .text-base;
    }
}

.menu-item.is-frontpage a {
    @apply .py-0;
}

.menu-item.is-active > a,
.menu-item > a:hover {
    @apply .underline;
}

.menu-item.is-frontpage img {
    max-width: 8.5rem;
    display: block;
}

.menu-item:not(:last-child) {
    @screen lg {
    @apply .mr-2
    }
}

/**
 * Sub-menu
 */

.sub-menu {
    @apply .list-reset .mb-0 .w-full .overflow-hidden;
    transition: max-height 0.5s;
    will-change: max-height;
    max-height: 0;
    background-color:rgba(0, 0, 0, 0.2);
   

    @screen lg {
        /*@apply .absolute .flex .flex-col .w-auto .bg-white;*/
        @apply .flex .flex-wrap .absolute .flex-row .w-screen .m-0 .p-0 .items-stretch .content-start;
        /*margin-top: -16rem;*/
        top: 70px;
        right: 0;
        transition-duration: 0.2s;
        /*transform: translateY(100%);*/
        -webkit-box-shadow: 0px 10px 14px 4px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 10px 14px 4px rgba(0,0,0,0.31);
        box-shadow: 0px 10px 14px 4px rgba(0,0,0,0.31);
    }

     @screen xl {
        /*margin-top: -12rem;*/
    }
}

.sub-menu.open {
    max-height: 18rem;

    @screen lg {
       /*top: 0;*/
        @apply .max-h-screen;
    }
}

.sub-menu .menu-item {
    @apply .px-4 .py-2;
    @screen lg {
        @apply .px-0 .py-0 .flex-1 .h-80 .min-h-64 .m-0 .flex-row .items-center;
    }
    @screen xl {
        @apply .h-64;
    }
    @screen xxxl {
        @apply .h-80;
    }
}

.sub-menu .menu-item a {
    @apply .text-base;
    background-size: 0 0;

    @screen lg {
        @apply .px-8 .w-full .h-full .flex-wrap .flex .m-0 .text-center .py-8 .text-lg;
        background-color: rgba(0,0,0,0.5);
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: multiply;
        transition: all 0.2s ease-in-out;
    }

    @supports (-ms-ime-align: auto) {
        background-image: none;
        background-color: rgba(0,0,0,1.0);
    }

       @screen xxxl {
        @apply .text-lg
    }

}


.sub-menu .menu-item > a:hover {

    @screen lg {
        background-color: rgba(0,0,0,0.8);
    }
}

.current-menu-item > a {
    @apply .underline;
}

/**
 * Menu toggle
 */
.menu-toggle {
    @apply .z-40;

    @screen lg {
        @apply .hidden
    }
}

.menu-toggle__icon {
    @apply .inline-block .align-middle .fill-current .h-8 .w-8;
}

/**
 * Sub-menu toggle / caret
 */

.sub-menu-caret {
    @apply .hidden .cursor-pointer .p-0;
    width: 1.6rem;
    height: 1.6rem;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
}

.menu-item.menu-item-has-children > .sub-menu-caret {
    @apply .flex .justify-center .items-center;
}

.sub-menu-caret svg {
    width: 65%;
    transition: transform 0.2s;
}

.menu-item > .sub-menu-caret:hover svg {
    transform: rotate(90deg);
}
.menu-item.active > .sub-menu-caret svg {
    transform: rotate(180deg);
}


/**
 * Maxi menu
 */

.menu-item > a > p.menu-item-description {
    @apply .invisible .hidden;
    width: 0;
    height: 0;
     @screen lg {
       @apply .text-base .normal-case .mt-2 .text-left .font-normal .py-2 .visible .w-auto .h-auto .block;
    }
      @screen xxxl {
       @apply .text-xl .w-full;
    }
}

.current-menu-item > a > p.menu-item-description {
    @apply .no-underline;
}

.sub-menu .menu-item > a .max-menu-btn {
    @apply .invisible .bg-white .m-0 .hidden;
    width:0;
    height:0;
     @screen lg {
        @apply .visible .w-auto .h-auto .block .mx-auto .self-end;
        fill: #000;
    }
}

.max-menu-btn svg {
    @apply .align-middle;
    fill: #000;
    transition: fill 0.2s ease-in-out;
}


 .sub-menu .menu-item > a:hover > .max-menu-btn {
    @apply .bg-pink .text-white;
}

.sub-menu .menu-item > a:hover .max-menu-btn svg {
    fill: #fff;
}