/**
 * Overlays
 */

.has-overlay {
    @apply .relative;
}

.has-overlay > * {
    @apply .z-10;
}

.has-overlay::before {
    @apply .absolute .pin-t .pin-l .w-full .h-full .z-20;
    content: "";
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.45) 100%);
}

.hero--page.has-overlay::before {
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.35) 100%);
}

.has-overlay--hoverable::before {
    transition: all 0.2s;
}

.has-overlay--hoverable:hover::before {
   background: rgb(2,0,36);
   background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.45) 100%);
}

.hero--page.has-overlay--hoverable::before {
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.35) 100%);
}
