/**
 * Responsive video container for embedded videos (Youtube)
 */

.video-responsive {
    @apply .relative .overflow-hidden .p-0;
    padding-bottom: 56.25%;
    height: 0;
}

.video-responsive iframe {
    @apply .absolute .pin-t .pin-l .w-full .h-full;
}
