/**
 * Containers
 */

.container {
    @apply .px-4 .max-w-full .overflow-hidden;
}

.container--base {
    @apply .max-w-4xl;
}

.container--medium {
    @apply .max-w-xl;
}

.container--narrow {
    @apply .max-w-lg;
}

.container--full {
    @apply .max-w-full;
}

.container--flush {
    @apply .px-0;
}
