/**
 * Ninja Forms layoutsettings
 */

 .contact-form .image-wrapper {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.nf-hack .form-wrapper .nf-form-cont {
     @apply .w-full .mx-auto;
     max-width: 750px;
}

.wp-block-ninja-forms-form {
     @apply .px-8;
     @screen md {
     @apply .px-0;
  }  
}

 .nf-hack .nf-before-form-content .nf-form-fields-required, .nf-hack .nf-field-label {
     @apply .hidden;
}

.nf-hack .nf-field-element, .nf-hack .field-wrap input:not([type=button]) {
     @apply .w-full;
}

.nf-hack .nf-form-content input:not([type=button]),
.nf-hack .nf-form-content textarea {
     @apply .bg-transparent;
}

.nf-hack .nf-form-content input:not([type=button]):focus,
.nf-hack .nf-form-content textarea:focus {
     @apply .bg-transparent border-2;
}

.nf-hack .form-wrapper--light .nf-form-layout .nf-form-content input:not([type=button]),
.nf-hack .form-wrapper--light .nf-form-layout .nf-form-content textarea,
.nf-hack .has-purple-background-color .nf-form-layout .nf-form-content input:not([type=button]),
.nf-hack .has-purple-background-color .nf-form-layout .nf-form-content textarea,
.nf-hack .has-black-background-color .nf-form-layout .nf-form-content input:not([type=button]),
.nf-hack .has-black-background-color .nf-form-layout .nf-form-content textarea,
.nf-hack .has-pink-background-color .nf-form-layout .nf-form-content input:not([type=button]),
.nf-hack .has-pink-background-color .nf-form-layout .nf-form-content textarea
 {
     @apply .text-white .border-white;
}

.nf-hack .form-wrapper--dark .nf-form-layout .nf-form-content input:not([type=button]),
.nf-hack .form-wrapper--dark .nf-form-layout .nf-form-content textarea,
.nf-hack .has-white-background-color .nf-form-layout .nf-form-content input:not([type=button]),
.nf-hack .has-white-background-color .nf-form-layout .nf-form-content textarea {
    @apply .text-black .border-black;
}

.nf-hack .form-wrapper--light .nf-field-container .field-wrap .nf-element::placeholder,
.nf-hack .form-wrapper--light .nf-error .nf-error-msg, 
.nf-hack .form-wrapper--light .nf-error-msg,
.form-wrapper--light .h6,
.nf-hack .has-purple-background-color .nf-field-container .field-wrap .nf-element::placeholder,
.nf-hack .has-purple-background-color .nf-error .nf-error-msg, 
.nf-hack .has-purple-background-color .nf-error-msg,
.has-purple-background-color .h6,
.nf-hack .has-black-background-color .nf-field-container .field-wrap .nf-element::placeholder,
.nf-hack .has-black-background-color .nf-error .nf-error-msg, 
.nf-hack .has-black-background-color .nf-error-msg,
.has-black-background-color .h6,
.nf-hack .has-pink-background-color .nf-field-container .field-wrap .nf-element::placeholder,
.nf-hack .has-pink-background-color .nf-error .nf-error-msg, 
.nf-hack .has-pink-background-color .nf-error-msg,
.has-pink-background-color .h6,
.nf-hack .form-wrapper--light .nf-response-msg p,
.nf-hack .has-purple-background-color .nf-response-msg p,
.nf-hack .has-black-background-color .nf-response-msg p,
.nf-hack .has-pink-background-color .nf-response-msg p,
.nf-hack .form-wrapper--light .nf-pass.field-wrap .nf-field-element:after,
.nf-hack .has-purple-background-color .nf-pass.field-wrap .nf-field-element:after,
.nf-hack .has-black-background-color .nf-pass.field-wrap .nf-field-element:after,
.nf-hack .has-pink-background-color .nf-pass.field-wrap .nf-field-element:after
  {
     @apply .text-white;
}

.form-wrapper--dark .h6,
.has-white-background-color .h6,
.nf-hack .form-wrapper--dark .nf-pass.field-wrap .nf-field-element:after,
.nf-hack .has-white-background-color .nf-pass.field-wrap .nf-field-element:after  {
     @apply .text-black;
}

.nf-hack .form-wrapper--dark .nf-field-container .field-wrap .nf-element::placeholder,
.nf-hack .form-wrapper--dark .nf-error .nf-error-msg, .nf-hack .form-wrapper--dark .nf-error-msg,
.nf-hack .has-white-background-color .nf-field-container .field-wrap .nf-element::placeholder,
.nf-hack .has-white-background-color .nf-error .nf-error-msg, .nf-hack .form-wrapper--dark .nf-error-msg   {
     @apply .text-grey;
}

.nf-hack .form-wrapper--light .nf-form-content .nf-error.field-wrap .nf-field-element:after,
.nf-hack .has-purple-background-color .nf-form-content .nf-error.field-wrap .nf-field-element:after,
.nf-hack .has-black-background-color .nf-form-content .nf-error.field-wrap .nf-field-element:after,
.nf-hack .has-pink-background-color .nf-form-content .nf-error.field-wrap .nf-field-element:after {
     @apply .bg-white .text-black; 
     background: #fff;
}

.nf-hack .form-wrapper--dark .nf-form-content .nf-error.field-wrap .nf-field-element:after,
.nf-hack .has-white-background-color .nf-form-content .nf-error.field-wrap .nf-field-element:after {
     @apply .bg-black .text-white;
     background: #000;
}

.nf-hack .form-wrapper--light .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .has-purple-background-color .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .has-black-background-color .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .has-pink-background-color .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .form-wrapper--light .nf-form-content .nf-pass .ninja-forms-field,
.nf-hack .has-purple-background-color .nf-form-content .nf-pass .ninja-forms-field,
.nf-hack .has-black-background-color .nf-form-content .nf-pass .ninja-forms-field,
.nf-hack .has-pink-background-color .nf-form-content .nf-pass .ninja-forms-field {
     @apply .border-white;
     border-color: #fff !important;
}

.nf-hack .form-wrapper--dark .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .has-white-background-color .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .has-wite-background-color .nf-form-content .nf-error .ninja-forms-field,
.nf-hack .form-wrapper--dark .nf-form-content .nf-pass .ninja-forms-field,
.nf-hack .has-white-background-color .nf-form-content .nf-pass .ninja-forms-field,
.nf-hack .has-wite-background-color .nf-form-content .nf-pass .ninja-forms-field{
     @apply .border-black;
     border-color: #000 !important;
}

.nf-hack .form-wrapper .nf-form-content input[type=button],
.nf-hack .nf-form-content input[type=button] {
    @apply .inline-block .py-3 .px-6 .m-0 .tracking-wide;
    @apply .text-center .no-underline .uppercase .font-bold .text-sm .truncate;
    @apply .rounded-lg;
    @apply .cursor-pointer .align-middle;
 }

.nf-hack .form-wrapper--light .nf-form-content input[type=button],
.nf-hack .has-purple-background-color .nf-form-content input[type=button], 
.nf-hack .has-black-background-color .nf-form-content input[type=button], 
.nf-hack .has-pink-background-color .nf-form-content input[type=button]  {
     @apply .bg-white .text-black;
}

.nf-hack .form-wrapper--light .nf-form-content input[type=button]:hover,
.nf-hack .has-purple-background-color .nf-form-content input[type=button]:hover,
.nf-hack .has-black-background-color .nf-form-content input[type=button]:hover,
.nf-hack .has-pink-background-color .nf-form-content input[type=button]:hover
  {
     @apply .bg-black .text-white;
}